/* Bordes aplicados al Col */
.pending-column {
    border: 1px solid #f8d7da; /* Rojo pastel */
    border-radius: 8px;
    padding: 8px;
}

.in-progress-column {
    border: 1px solid #fff3cd; /* Amarillo pastel */
    border-radius: 8px;
    padding: 8px;
}

.completed-column {
    border: 1px solid #d4edda; /* Verde pastel */
    border-radius: 8px;
    padding: 8px;
}

/* Clase interna aplicada al div dentro del Col */
.droppable-column {
    padding: 16px;
    border-radius: 8px;
}

